@model MVCAssessment2.ViewModels.EditApplicantViewModel

<fieldset>

    @using (Html.BeginForm())
    {
        @*<font color="red">@Html.ValidationSummary()</font>*@
        <table class="table table-striped">
            <tr><td></td><td>@Html.EditorFor(m => m.applicantID, new { htmlAttributes = new { type = "hidden" } })</td><td></td></tr>
            <tr><td>@Html.LabelFor(m => m.firstName)</td><td>@Html.EditorFor(m => m.firstName)</td><td></td></tr>
            <tr><td>@Html.LabelFor(m => m.lastName)</td><td>@Html.EditorFor(m => m.lastName)</td><td></td></tr>
            <tr><td>@Html.LabelFor(m => m.dateOfBirth)</td><td>@Html.EditorFor(m => m.dateOfBirth)</td><td></td></tr>
            <tr><td>@Html.LabelFor(m => m.Email)</td><td>@Html.EditorFor(m => m.Email)</td><td>@Html.ValidationMessageFor(m => m.Email)</td></tr>
            <tr><td>@Html.LabelFor(m => m.PhoneNumber)</td><td>@Html.EditorFor(m => m.PhoneNumber)</td><td></td></tr>

            <tr>
                <td>@Html.LabelFor(m => m.uniID)</td>
                <td>@Html.DropDownListFor(m => m.uniID, new SelectList(Model.uniSelectList, "Value", "Text", Model.uniID), new{@id="uniID"})</td>
                <td></td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.courseID)</td>
                <td>@Html.DropDownListFor(m => m.courseID, new SelectList(Model.courseSelectList, "Value", "Text", Model.courseID), new{@id="courseID"})</td>
                <td></td>
            </tr>

            <tr>
                <td>@Html.LabelFor(m => m.coverLetter)</td>
                <td><textarea id="@Html.IdFor(m => m.coverLetter)" name="@Html.NameFor(m => m.coverLetter)" class="form-control">@Model.coverLetter</textarea></td>
                <td></td>
            </tr>
            <tr><td>@Html.LabelFor(m => m.gpa)</td><td>@Html.EditorFor(m => m.gpa)</td><td>@Html.ValidationMessageFor(m => m.gpa)</td></tr>

            <tr><td></td><td><button class="btn btn-primary btn-lg" type="submit">Delete</button></td></tr>

        </table>

    }
